/* testimonialCarousel.css */

.scroll-wrapper {
  display: flex;
  animation: scroll 40s linear infinite;
  width: max-content;
}

.slide {
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
